In [1]:
import pandas
from sqlalchemy import create_engine

uri = "postgresql+psycopg2://postgres:DUTHZawxbNXADxzTezhKMtMM5agva9g39nD8S7JwwphSihwu67RbCZbHw2Nsx9b2@localhost:5432/postgres"
alchemyEngine = create_engine(uri)
dbConnection = alchemyEngine.connect()

# Task 3: Insights

## Task 3.1: Correlate two variables of your choice

I am choosing to correlate the choice of sign language (ASL, BSL, OGS) and the amount of earnings in total.

First I need to associate products to their sign language. 
There are some products that are only called "Lingvano Premium". I assume this means that the user has access to all available sign languages. Ideally there would be another table in the DB with SLs (only 3 rows as of now), and products would be associated to one or more SLs. 
However, this is outside the scope of this challenge. 

What I will do, in the interest of time, is associate products with an SL iff they have this SL's name in the product name.

In [25]:
products_per_language_sql = """SELECT * FROM products WHERE product_name LIKE %(name)s"""

asl_products = pandas.read_sql(products_per_language_sql, dbConnection, params={'name': '%ASL%'})
asl_products.insert(1, "sign_language", "ASL")

bsl_products = pandas.read_sql(products_per_language_sql, dbConnection, params={'name': '%BSL%'})
bsl_products.insert(1, "sign_language", "BSL")

ogs_products = pandas.read_sql(products_per_language_sql, dbConnection, params={'name': '%ÖGS%'})
ogs_products.insert(1, "sign_language", "ÖGS")

products = pandas.concat([asl_products, bsl_products, ogs_products])

In [26]:
products

,product_id,sign_language,product_name,product_taxable_category
0,637133,ASL,Lingvano ASL Premium yearly,standard
1,634288,ASL,Lingvano ASL Premium quarterly,standard
2,634286,ASL,Lingvano ASL Premium monthly,standard
3,637132,ASL,Lingvano ASL Premium biannually,standard
4,652930,ASL,Lingvano ASL Premium monthly -30%,standard
5,652931,ASL,Lingvano ASL Premium quarterly -30%,standard
6,652932,ASL,Lingvano ASL Premium yearly -30%,standard
0,756876,BSL,Lingvano BSL Premium monthly,standard
1,756877,BSL,Lingvano BSL Premium quarterly,standard
2,756878,BSL,Lingvano BSL Premium yearly,standard
0,637131,ÖGS,Lingvano ÖGS Premium yearly,standard
1,637129,ÖGS,Lingvano ÖGS Premium quarterly,standard
2,806813,ÖGS,Lingvano ÖGS Premium monthly,standard
3,637130,ÖGS,Lingvano ÖGS Premium biannually,standard

Now I will associate the orders with the SLs. I would much rather be doing this in SQL directly than to use a python library like pandas for this. But I interpret the task such as that you want me to use pandas for a bit.

In [35]:
orders = pandas.read_sql("orders", dbConnection, columns = ["order_id", "product_id", "balance_earnings"])

# orders.insert(
#     2, # after product_id
#     "sign_language", # column name
#     # the data: take a vector of the product_id column, and map the ids to an SL value
#     orders["product_id"].map(
#         lambda prod_id: "ASL" if prod_id in asl_products else ""
#     )
# )

# orders["sign_language"] = orders["product_id"]
# orders

orders_and_languages = pandas.merge(
    orders, # left
    products, # right 
    how='left', 
    on="product_id"
)

In [36]:
orders_and_languages

,order_id,product_id,balance_earnings,sign_language,product_name,product_taxable_category
0,32188045-35747701,637133,97.39,ASL,Lingvano ASL Premium yearly,standard
1,21824796-35749002,637133,94.32,ASL,Lingvano ASL Premium yearly,standard
2,21823580-57135378,634288,41.18,ASL,Lingvano ASL Premium quarterly,standard
3,22659879-62720615,634286,9.56,ASL,Lingvano ASL Premium monthly,standard
4,34337096-62727157,634286,15.16,ASL,Lingvano ASL Premium monthly,standard
...,...,...,...,...,...,...
13073,57866958-113669437,634286,13.52,ASL,Lingvano ASL Premium monthly,standard
13074,40905848-113672340,634286,0.00,ASL,Lingvano ASL Premium monthly,standard
13075,57904037-113682084,634286,14.70,ASL,Lingvano ASL Premium monthly,standard
13076,64696612-116274349,756877,45.46,BSL,Lingvano BSL Premium quarterly,standard
13077,64705768-116291617,634286,13.50,ASL,Lingvano ASL Premium monthly,standard

I am now out of time. The next step is to group by `sign_language` and sum up the `balance_earnings` for each `sign_language`. 
Then we will know how lucrative each project is. 
It would also be nice to plot this by time or purchase as third variable, then we know which project is booming. 
Something similar is asked in the next subtask as well.

## Task 3.2: Lifetime value of a customer

Sum of the balance earnings per email address: